@{}
@{
    Layout = "_Layout";
}


<div class="col-sm-12 row">
    <a href="#" class="control-label" onclick="divToggle('divTest')">Тестовый запрос</a>
    <div class="col-sm-12" style="display:none" id="divTest">
        <div class="col-sm-12 row">
            <label class="control-label col-sm-3">Текст</label>
            <input type="text" class="form-control col-sm-9" id="testtext" />
        </div>
        <button class="btn btn-default" onclick="GetTest()">TEST</button>
    </div>
</div>

<div class="col-sm-12 row">
    <a href="#" class="control-label" onclick="divToggle('divGetOrder')">Информация о заказе</a>
    <div class="col-sm-12" style="display:none" id="divGetOrder">
        <div class="col-sm-12 row">
            <label class="control-label col-sm-3">Id заказа</label>
            <input type="number" class="form-control col-sm-9" id="orderId" />
            <br /><span id="OrderInfo">Результат: </span>
        </div>
        <button class="btn btn-default" onclick="GetOrder()">Выполнить</button>
    </div>
</div>

<div class="col-sm-12 row">
    <a href="#" class="control-label" onclick="divToggle('divOrdersCount'); OrdersCount()">Количество заказов</a>
    <div class="col-sm-12" style="display:none" id="divOrdersCount">
        <div class="col-sm-12 row">
            <br /><span id="OrderCountInfo">Заказов: </span>
        </div>
    </div>
</div>

<div class="col-sm-12 row">
    <a href="#" class="control-label" onclick="divToggle('divAddOrder')">Добавить новый заказ</a>
    <div class="col-sm-12" style="display:none" id="divAddOrder">
        <div class="col-sm-12">
            <div class="col-sm-12 row">
                <label class="control-label col-sm-12">Данные клиента:</label>
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Адресс</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Область</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Населенный пункт</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Код населенного пункта</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">ZIP</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Телефон</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Телефон</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Имя</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Фамилия</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Компания</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Страна</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Код страны</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Default</label>
                <select class="form-control col-sm-9" id="orderId">
                    <option>true</option>
                    <option>false</option>
                </select>
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-12">Данные заказа:</label>
            </div>
            <div class="col-sm-12 row">
                <label class="control-label col-sm-3">Код страны</label>
                <input type="text" class="form-control col-sm-9" id="orderId" />
            </div>

            <br /><span id="OrderInfo">Результат: </span>
        </div>
        <button class="btn btn-default" onclick="GetOrder()">Выполнить</button>
    </div>
</div>

<button class="btn btn-default" onclick="CreateAddress()">Создать заказ</button>
<button class="btn btn-default" onclick="RebornOrder()">Воскресить заказ</button>
<button class="btn btn-default" onclick="RebornOrder()">Обновить заказ</button>