@{}
@{
    Layout = "_Layout";
}


<button class="btn btn-default" onclick="CreateAddress()">Создать заказ</button>
<button class="btn btn-default" onclick="RebornOrder()">Воскресить заказ</button>
<button class="btn btn-default" onclick="UpdateOrder()">Обновить заказ</button>
<button class="btn btn-default" onclick="TestOrder()">Test заказ</button>