@{}
@{
    Layout = "_Layout";
}


<div>
    <button class="btn btn-default" onclick="GetTest()">TEST</button>
    <button class="btn btn-default" onclick="CheckAddress()">Проверка адреса</button>
</div>